[Desktop Entry]
Name=drwm
Comment=improved dynamic tiling window manager
Exec=drwm
TryExec=drwm
Type=Application
X-LightDM-DesktopName=drwm
DesktopNames=drwm
Keywords=tiling;wm;windowmanager;window;manager;
